{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/signin.css')}}">
{% endblock %}
{% block body %}
<div class="text-center">
    <!-- Tabs Titles -->
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <img class="mb-4" src="{{asset('assets/imgs/user.svg')}}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Por favor, ingrese</h1>
            <label class="sr-only" for="inputEmail">Email</label>
            <input type="text" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
            <label class="sr-only" for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Acceder
            </button>
        </form>
</div>
{% endblock %}
