{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}!{% endblock %}

{% block body %}

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="{{asset('assets/images/loader.gif')}}" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header">
            <div class="topbar clearfix">
                <div class="container">
                    <div class="row-fluid">
                        <div class="col-md-6 col-sm-6 text-left">
                            <p>
                                <strong><i class="fa fa-phone"></i></strong> +54 9 362 521 54 83 &nbsp;&nbsp;
                                <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">roblo53@hotmail.com</a>
                            </p>
                        </div><!-- end left -->
                        <div class="col-md-6 col-sm-6 hidden-xs text-right">
                            <div class="social">
                                <a class="google" href="https://api.whatsapp.com/send?phone=5493625215483&text=Estoy%20interesado%20en%20los%20cursos%20online%20de%20su%20sitio." data-tooltip="tooltip" data-placement="bottom" title="Mensaje whatsapp"><i class="fa fa-whatsapp"></i></a>
                            </div><!-- end social -->
                        </div><!-- end left -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end topbar -->

            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo-normal">
                            <a class="navbar-brand" href="/"><img src="{{asset('assets/images/logo.png')}}" alt=""></a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Inicio</a></li>
                            <li class="dropdown yamm-fw yamm-half"><a href="#mucursos" data-toggle="dropdown" class="dropdown-toggle active">Cursos <b class="fa fa-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content clearfix">
                                            <div class="row-fluid">
                                                <div class="col-md-6 col-sm-6">
                                                    <h4>Cursos</h4>
                                                    <ul>
                                                        <li><a href="#mucursos">Curso numero 1</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="menu-widget text-center">
                                                        <div class="image-wrap entry">
                                                            <img src="{{asset('assets/upload/course_01.jpg')}}" alt="" class="img-responsive">
                                                            <div class="magnifier">
                                                                 <a href="#mucursos" title=""><i class="flaticon-add"></i></a>
                                                            </div>
                                                        </div><!-- end image-wrap -->
                                                        <h5><a href="#">Inicio y fundamentos de la electrónica del automóvil</a></h5>
                                                        <small>50USD $3000 Peso Arg.</small>
                                                        <a href="#" class="menu-button">Pagar</a>
                                                    </div><!-- end widget -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#promo">Promociones</a></li>
                             <!-- <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Comprar <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="shop.html">Shop Layout</a></li>
                                    <li><a href="shop-single.html">Ver Shop</a></li>
                                </ul>
                            </li> -->
                            <!--<li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="blog.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-1.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-2.html">Blog Grid Sidebar</a></li>
                                    <li><a href="blog-3.html">Blog Grid Fullwidth</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="page-contact.html">Contacto</a></li> -->
                            <li class="iconitem"><a href="/cursos"><i class="fa fa-sign-in"></i> Ingresar</a></li>
                            <!--<li class="iconitem"><a class="shopicon" href="shop-cart.html"><i class="fa fa-shopping-basket"></i> &nbsp;(0)</a></li> -->
                        </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

        <section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <p>Estudia Electrónica del Automóvil</p>
                    <small>Cursos Totalmente Online con profesionales de mucha experiencia, videos de corta duración para el major entendimiento de los conceptos y que lo puedas ver estes donde estes.</small>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="#mu-content" class="btn btn-primary wow slideInLeft">Leer Más</a> &nbsp;&nbsp;&nbsp;<a href="#mu-cursos" class="btn btn-default wow slideInRight">Comprar Ahora</a>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <div class="slider-bottom">
                <span>Explore <i class="fa fa-angle-down"></i></span>
            </div>
        </section>

        <section class="section" id="mu-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="custom-module">
                            <img src="{{asset('assets/upload/device_01.jpg')}}" alt="" class="img-responsive wow slideInLeft">
                        </div><!-- end module -->
                    </div><!-- end col -->
                    <div class="col-md-8">
                        <div class="custom-module p40l">
                            <h2>Cursos de <mark>electrónica</mark> del automóvil</h2>
                            <p>Brindar conocimientos acerca del funcionamiento y los procedimientos de servicio y mantenimiento de los sistemas eléctricos y electrónicos de automóviles, manejo de datos técnicos, lectura e interpretación de diagramas, análisis y solución de fallas y de los pasos para el manejo de instrumental computarizado.</p>

                            <hr class="invis">

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>Herramientas y Equipo de Taller</li>
                                        <li>Sistema de Encendido</li>
                                        <li>Fusilera Electrónica B.S.I</li>
                                        <li>Comunicación CAN BUS</li>
                                        <li>Módulos de Control</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <ul class="check">
                                        <li>Computadora Bajo volante</li>
                                        <li>Scanner</li>
                                        <li>Tacometro y relojes</li>
                                        <li>Indicadores de alerta</li>
                                        <li>Computadora de Climatización</li>
                                    </ul><!-- end check -->    
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                                    <ul class="check">
                                        <li>Fallas con Scanner</li>
                                        <li>Ubicación de componentes</li>
                                        <li>Medición de tensiones</li>
                                        <li>Control de Cargas</li>
                                        <li>Computadora de chasis</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 --> 
                            </div><!-- end row -->   

                            <hr class="invis">

                            <div class="btn-wrapper">
                                <a href="#mu-cursos" class="btn btn-primary">cursos</a>
                            </div>

                        </div><!-- end module -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section id="mucursos" class="section gb" >
            <div class="container">
                <div class="section-title text-center">
                    <h3>Cursos Disponibles</h3>
                    <p>Los cursos habilitados, son para alumnos que inician en la electronica del automovil, como aquellos con conocimiento avanzado.</p>
                </div><!-- end title -->

                <!--<div id="owl-01" class="owl-carousel owl-theme owl-theme-01">-->
                <div class="row text-center">

                    <div class="caro-item col-sm-5">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="{{asset('assets/upload/course_01.jpg')}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="#" title="COMPRAR"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>electrónica del automóvil</small>
                                    <a href="#" title="Inicio y fundamentos de la electrónica del automóvil">Inicio y fundamentos de la electrónica del automóvil</a>
                                </h4>
                                <p>El curso consta de 25 vídeos de corta duración que te permitirá estudiar desde el celular y en la hora del día que mas te convenga.</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-file-movie-o"></i>25</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 7 Min.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a href="#">50USD $3000 Peso Arg.</a></li>
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                    
               </div><!--   end row -->

                <hr class="invis">
                <!--
                <div class="section-button text-center">
                    <a href="#" class="btn btn-primary">View All Courses</a>
                </div>-->
            </div><!-- end container -->
        </section>

        <section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message text-center">
                            <h3>Somos Eduwij una plataforma de enseñanza didactica y fácil de usar.</h3>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box m30">
                            <i class="flaticon-computer-tool-for-education"></i>
                            <h4>Sistema de Enseñanza</h4>
                            <p>Todas las secciones requeridas para la capacitación en línea están incluidas en Edulogy.</p>
                            <!-- <a href="#" class="readmore">Read more</a> -->
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="box m30">
                            <i class="flaticon-monitor-tablet-and-smartohone"></i>
                            <h4>Funciona todos los dispositivos móviles</h4>
                            <p>La característica más importante de este sistema es que es compatible con todos los dispositivos móviles. Los alumnos también pueden visitar su sitio fácilmente desde tabletas y teléfonos.</p>
                            <!-- <a href="#" class="readmore">Read more</a> -->
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-3">
                        <div class="box m30">
                            <i class="flaticon-download-business-statistics-symbol-of-a-graphic"></i>
                            <h4>Tablero de acceso</h4>
                            <p>Para visualizar los cursos debe ingresar con usuario y clave a un tablero general.</p>
                            <!-- <a href="#" class="readmore">Read more</a> -->
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">

                
            </div><!-- end container -->
        </section>

        <section class="section db">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">250</h4>
                            <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Estudiantes Felices</h3>
                            <p>Estudiantes que encontraron valor agregado y invirtieron en sí mismo </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">3</h4>
                            <h3><i class="flaticon-online-course"></i> Curso hecho</h3>
                            <p>Los cursos se van logrando por temporadas de un mes. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">50</h4>
                            <h3><i class="flaticon-computer-tool-for-education"></i> Cursos Talleres</h3>
                            <p>Si sos un taller mecánico mejora el diagnóstico de fallas. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        

        <section id="promo"  class="section bgcolor1">
            <div class="container">
                <a href="#">
                <div class="row callout">
                    <div class="col-md-4 text-center">
                        <h3><sup>USD</sup>40  <sup>$</sup>2300AR</h3>
                        <h4>Oferta para estudiantes, en Fundamentos de la electrónica del automóvil</h4>
                    </div><!-- end col -->

                    <div class="col-md-8">
                        <p class="lead">Esta oferta es limitada por cupos de alumnos aprovechalo ya!!</p>
                    </div>
                </div><!-- end row -->
                </a>
            </div><!-- end container -->  
        </section>

        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Expertos en Educación</h3>
                            <div class="newsletter-widget">
                                <p>Aprende de la mejor<br> manera <a href="#">rapidos y facíl</a>.</p>
                                <!--<form class="form-inline" role="search">
                                    <div class="form-1">
                                        <input type="text" class="form-control" placeholder="Enter email here..">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>-->
                                <img src="{{asset('assets/images/rapido-y-facil.jpg')}}" alt="" class="img-responsive">
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Únete a nosotros hoy</h3>
                            <p>¿Te gustaría aumentar tus ganancias uniéndote a nuestro equipo? Únete a nosotros sin perder tiempo.</p>
                            <!-- <a href="#" class="readmore">Became a Teacher</a> -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Etiquetas Populares</h3>
                            <div class="tags-widget">   
                                <ul class="list-inline">
                                    <li><a href="#">curso</a></li>
                                    <li><a href="#">electrónica</a></li>
                                    <li><a href="#">automovil</a></li>
                                    <li><a href="#">taller</a></li>
                                    <li><a href="#">mecanico</a></li>
                                    <li><a href="#">videos</a></li>
                                    <li><a href="#">chat</a></li>
                                    <li><a href="#">simple</a></li>
                                    <li><a href="#">facil</a></li>
                                    <li><a href="#">pagos</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Soporte</h3>
                            <div class="list-widget">   
                                <ul>
                                    <li><a href="https://api.whatsapp.com/send?phone=5493625215483&text=Estoy%20interesado%20en%20los%20cursos%20online%20de%20su%20sitio.">Contratar el curso</a></li>
                                    <li><a href="https://api.whatsapp.com/send?phone=5493624519007&text=Dudas%20sobre%20los%20cursos">Duda sobre los cursos</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                            <a href="#"><img src="{{asset('assets/images/logo.png')}}" alt=""></a>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Design : <a href="https://html.design">Eduwij</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->

{% endblock %}
