<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{asset('assets/images/apple-touch-icon.png')}}">
        {% block stylesheets %}
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
            <!-- Custom & Default Styles -->
            <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/carousel.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/animate.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery Files -->
            <script src="{{asset('assets/js/jquery.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/js/carousel.js')}}"></script>
            <script src="{{asset('assets/js/animate.js')}}"></script>
            <script src="{{asset('assets/js/custom.js')}}"></script>
            <!-- VIDEO BG PLUGINS -->
            <script src="{{asset('assets/js/videobg.js')}}"></script>
        {% endblock %}
    </body>
</html>
